@model Ariston.Models.tblConfig
@Html.Raw(ViewBag.h1)
<div id="Top">
    <div id="Content">
        <div id="Banner">
            <div id="Top_Banner">
                <div id="LeftBanner">
                    <a href="/" title="Bình nóng lạnh Ariston"><img src="@Model.Logo" alt="Logo Ariston" /></a>
                </div>
                <div id="RightBanner">
                    <div class="box_Leng">
                        <a href="" title="Ngôn ngữ"><span></span></a>
                    </div>

                </div>
            </div>
            <div id="Bottom_Banner">
                <div id="Box_tep1">
                    <a href="/Contact" title="Liên hệ" rel="nofollow">Liên hệ &iota;</a>
                    <a href="/chuong-trinh-khuyen-mai" title="Khuyen-mai" style="color:#f00">KHUYẾN MẠI &iota;</a>
                    <a href="/ListNew/binh-nong-lanh-Ariston-6.aspx" title="Tin tức" rel="nofollow">Tin tức &iota;</a>
                    <a href="/9/Nha-phan-phoi-1.aspx" title="HỆ thóng phân phối" rel="nofollow">Hệ thống phân phối </a>
                </div>
                <div id="Box_tep2">
                    <a href="#" title="Hotline">
                        Cơ sở 1 :<span>

                            @Model.Hotline1

                        </span>
                        Cơ sở 2 :<span>

                            @Model.Hotline2

                        </span>
                    </a>
                </div>
                <div id="Box_tep3">
                    <a href="" title="">Tìm trung tâm bảo hành gần nhất</a>
                </div>
                <div id="Box_tep4">
                    @using (Html.BeginForm("Search", "Default", FormMethod.Post))
                    {
                        <input type="text" placeholder="Nhập tìm kiếm" id="txtSearch" name="txtSearch" class="txtSearch" />
                        <button type="submit" name="btnSearch" id="btnSearch" class="btnSearch"></button>
                    }
                </div>
            </div>
        </div>
        
    </div>
    <div id="Menu"><div id="Content_Menu">
    <ul class="ul1">
        <li class="li1">
            <a href="/chuong-trinh-khuyen-mai" title="Bình nóng lạnh Ariston" style="color:#C1022C">KHUYẾN MẠI</a>

        </li>
        @Html.Raw(ViewBag.Menu)

        <li class="li1">
            <a href="/Contact" title="Liên hệ" rel="nofollow">Hỗ trơ khách hàng</a>
        </li>
    </ul></div>
     
   
</div>
</div>